aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-doc
annotated-types
anyio
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
blinker
boltons
Brotli
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cycler
debugpy
decorator
defusedxml
distro
dnspython
email-validator
et_xmlfile
exceptiongroup
executing
fastapi
fastapi-cli
fastjsonschema
fonttools
fqdn
frozendict
frozenlist
future
gitdb
GitPython
greenlet
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
langchain
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
libmambapy
lxml==5.4.0
markdown-it-py
MarkupSafe
matplotlib==3.10.3
matplotlib-inline
mdurl
menuinst
mistune
multidict
munkres==1.1.4
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
openai
openpyxl
orjson
ormsgpack
overrides
packaging
pandas
pandocfilters
parso
patsy
pefile
pickleshare
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow==20.0.0
pycosat
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PySide6==6.9.0
PySocks
python-dateutil
python-docx
python-dotenv
python-json-logger
python-multipart
python-pptx
pytz
pywin32==307
pywin32-ctypes
pywinpty
PyYAML
pyzmq
referencing
requests
requests-toolbelt
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich
rich-toolkit
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
Send2Trash
setuptools==80.1.0
shellingham
shiboken6==6.9.0
six
smmap
sniffio
soupsieve
SQLAlchemy
stack_data
starlette
statsmodels
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tomli
tornado
tqdm
traitlets
truststore
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wheel==0.45.1
xlsxwriter
xxhash
yarl
zipp
zstandard==0.23.0
